.tile {
  height: 100px;
  width: 100px;
}

/* .layer {
  padding: 3px;
} */

h1, h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
